<div id="<%= dom_id list %>">
  <p>
    <strong>List type:</strong>
    <%= list.list_type %>
  </p>

  <p>
    <strong>User:</strong>
    <%= list.user_id %>
  </p>

  <p>
    <strong>Joke:</strong>
    <%= list.joke_id %>
  </p>

</div>
