<div id="<%= dom_id rank %>">
  <p>
    <strong>Rank:</strong>
    <%= rank.rank %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rank.user_id %>
  </p>

  <p>
    <strong>Joke:</strong>
    <%= rank.joke_id %>
  </p>

</div>
